<!DOCTYPE html>
<html lang="ht">
  <head>
    <!--Metatags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatble" content="ie=edge" />
    <!--Website Title-->
    <title>Haiti | Earn Crypto Easily</title>
    <!--Calling Favicon-->
    <link rel="icon" href="images/favicon.png" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!--FontAwesome CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <!--Bootstrap v4.5.3 CSS FILE-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!--Fonts Are Loads From Here-->
    <link rel="stylesheet" href="fonts/fonts.css" />
    <!--Main Stylesheet-->
    <link rel="stylesheet" href="style.css" />
    <!--Stylesheet For The Responsiveness-->
    <link rel="stylesheet" href="css/responsive.css" />
  </head>

  <body>
    <!--===== Markup For "Header" Starts From Here =====-->
    <header class="header">
      <div class="top">
        <div class="container">
          <div class="top_avatar">
            <img src="images/top_avatar.png" class="img-fluid" alt="" />
          </div>
          <div class="language_icons">
            <ul>
              <li>
                <a class="<%=(lang=="ht"?"active":"")%>" href="/?clang=ht"><img src="images/HT.png" alt=""
                  /></a>
              </li>
              <li>
                <a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en"><img src="images/US.png" alt=""/></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="single_part left_image">
          <img src="images/left_avatar.png" class="img-fluid" alt="" />
        </div>
        <div class="single_part middle_texts">
          <h1><%=translation.haiti%></h1>
          <h3><%=translation.EarnCryptoEasily%>.</h3>
        </div>
        <div class="single_part right_image">
          <img src="images/right_avatar.png" class="img-fluid" alt="" />
        </div>
      </div>
    </header>
    <!--===== Markup For "Header" Ends Here =====-->

    <!--===== Markup For "What Is" Starts From Here =====-->
    <section class="what_is">
      <div class="container">
        <h4><%=translation.WhatIs%></h4>
        <p><%=translation.WhatIsDescription%></p>
      </div>
    </section>
    <!--===== Markup For "What Is" Ends Here =====-->

    <!--===== Markup For "Steps" Starts From Here =====-->
    <section class="steps_wrapper">
      <div class="container">
        <div class="steps">
          <div class="single_step step_1">
            <div class="indicator">
              <h2>1</h2>
            </div>
            <div class="texts">
              <a href="https://airtable.com/shrZNioVqeR7t0fUP" target="_blank"
                ><%=translation.JoinTheCommunity%></a>.
            </div>
            <br />
            <div class="icon">
              <img src="images/persons_icon.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="single_step step_2">
            <div class="indicator">
              <h2>2</h2>
            </div>
            <div class="texts">
              <a href="https://app.lagatos.com/" target="_blank"
                ><%=translation.CreateADigitalWallet%></a>.
            </div>
            <br />
            <div class="icon">
              <iframe
                height="315"
                src="https://www.youtube.com/embed/0H5YZ_CpGdU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <br />
              <a href="https://youtu.be/15km5VJPlLw" target="_blank"
                >English | Angle</a
              >
            </div>
          </div>
          <div class="single_step step_3">
            <div class="indicator">
              <h2>3</h2>
            </div>
            <div class="texts">
              <p><%=translation.ReceiveCrypto%></p>
              <!-- <a href="#" target="_blank"
                ><%=translation.DownloadApp%></a>-->
            </div>
            <br />
            <div class="icon">
              <img src="images/telegram_icon.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--===== Markup For "Steps" Ends Here =====-->

    <br />
    <br />
    <!--===== Markup For "Clickable Links" Starts From Here =====-->
    <section class="clickable_links">
      <div class="container">
        <ul>
          <li>
            <a href="https://airtable.com/shrZNioVqeR7t0fUP" target="_blank"
              ><%=translation.StartEarningNow%></a
            >
          </li>
          <li>
            <a href="https://askhaiti.com/" target="_blank"
              ><%=translation.Learners%></a
            >
          </li>
        </ul>
      </div>
    </section>
    <!--===== Markup For "Clickable Links" Ends Here =====-->

    <!--===== Markup For "Footer" Starts From Here =====-->
    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2021 <a href="https://opensourcehaiti.com" target="_blank"
          >Open Source Haiti</a
          >
          <%=translation.Colloboration%>
          <a href="http://lagatos.com" target="_blank">Lagatos.com</a>
          <br>
          <br>
          <a href="https://www.notion.so/Haiti-AI-FAQs-bbc2338ebe0149cc899eaeae358bff3a" target="_blank">FAQs</a>
        </p>
        <br>
        <p>
          <a href="https://farahbrunache.com" target="_blank"><%=translation.MadeBy%></a>.
        </p>
      </div>
    </footer>
    <!--===== Markup For "Footer" Ends Here =====-->

    <!--jQuery Main Libraty Latest Version-->
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <!--Bootstrap v4.5.3 JS File-->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!--Custom JavaScript-->

  </body>
</html>
